.Categories {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
 // padding: 0 15px;
  width: 100%;
 // position: absolute;
  left: 0;
  right: 0;
  top: 55px;

  .badge {
    padding: 10px;
    margin: 10px 5px 10px 0;
    font-size: 14px;
    min-width: 70px;
  }
}