$gray-100: #f8f9fa;
$gray-800: #343a40;

$theme-colors: (
        primary: #fff059,
        secondary: #3483fa,
        success: #39b54a,
        warning: yellow,
        danger: red,
        light: $gray-100,
        dark: $gray-800
);