@import "../../variables";

.SortBy{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid $line-color;

  .dropdown-toggle{
    background-color: transparent;
    border: none;
    color: $gray-700;

    &:focus, &:hover{
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }
}